* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    color: black;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

nav {
    background-color: aqua;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
}

nav li:first-child {
    background-color: blue;
    margin-right: auto;
}

nav li:last-child {
    background-color: red;
    margin-left: auto;
}