@font-face {
    font-family: 'Fungal-Grow0';
    src: url('assets/fonts/Fungal-Grow0Thickness500r.woff2') format('woff2');
}

@font-face {
    font-family: 'Fungal-Grow300';
    src: url('assets/fonts/Fungal-Grow300Thickness500r.woff2') format('woff2');
}

@font-face {
    font-family: 'Fungal-Grow1000';
    src: url('assets/fonts/Fungal-Grow1000Thickness1000r.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
    scroll-padding: 70px;
}

/* reset */
* {
    margin: 0;
    padding: 0;
}


/* base styles */
body {
    min-width: 320px;
    /* Mindestbreite für den gesamten Seiteninhalt */
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 15px;
    display: flex;
    flex-direction: column;

}

/* Main content */
main {
    margin: 60px 10px 0;
    /* Add a top margin to avoid content overlay + side margin */
    flex-grow: 1;
    color: rgb(220, 220, 220);
}

main img {
    margin: 0px 0;
}

footer {
    background-color: #000000;
}

.info-jubelfeier {
    text-align: center;
    margin: 0px 0;
    font-family: monospace;
    font-size: 1em;
}

.infos-jubelfeier {
    margin: 100px 0;
    text-shadow: 0 0 10px rgb(255, 255, 255);

}

img {
    width: 100%;
}

section {
    margin: 60px 0;
}

.plaketten {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.plakette-item {
    margin: 60px 0;
}

.plakette-emoji {
    font-size: 3em;
    text-align: center;
    margin-bottom: 10px;
}

.tuevplakette {
    background-color: #fafafa;
    color: #000000;
    padding: 2px 10px;
    border-radius: 20px;
    display: inline-block;
}

.drop-shadow {
    -webkit-filter: drop-shadow(0 0 8px white);
    filter: drop-shadow(0 0 8px white);
    position: relative;
    z-index: -3;
}

.underlined {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#renntag ul {
    list-style: none;
}

.social-links {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-style: italic;
    color: white;
}


/* font styles */
h1 {
    font-family: 'Fungal-Grow300', monospace;
    font-size: 3.6em;
    margin: 10px 0;
    font-weight: normal;
}


h2 {
    font-size: 1.1em;
    margin-bottom: 5px;
}


/* Navigation */
nav {
    width: 100%;
    /* Full width */
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
}

nav ul {
    list-style: none;
}

/*nav li {
    border: 1px solid orange;
}*/

nav a {
    text-decoration: none;
}

nav a svg,
img {
    vertical-align: middle;
    /* align svg, img elements within <a> element */
}

.intro-img {
    margin: 50px 0;
}



/* MENUBUTTON STYLING */
.menuButton {
    display: none;
    position: fixed;
}

.menuButton .opened {
    display: none;
}


/* NAVBAR STYLING */
.navbar {
    font-family: 'Fungal-Grow300', Helvetica, Arial, sans-serif;
    z-index: 1;
    height: 70px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(3px);
    /* Set the height of the navbar */
    display: flex;
    justify-content: flex-end;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 20px;
    /* Radius für die untere linke Ecke */
}

.navbar a {
    width: 100%;
    height: 100%;
    margin: 0 20px;
    color: white;
    /*border: 2px solid rgb(173, 85, 255);*/
    font-size: 1.5em;

}

.navbar img {
    width: 160px;
    height: auto;
    padding-left: 5px;
    padding-top: 10px;
}

.navbar li:first-child {
    /*background-color: blue;*/
    margin-right: auto;
    font-size: 2em;
}

.navbar li:last-child {
    /*background-color: red;*/
    margin-left: auto;

}

.navbar li:first-child a {
    margin-left: 0;
}

.navbar li:last-child a {
    margin-right: 0;
}



/* SIDEBAR STYLING */
.sidebar {
    font-family: 'Fungal-Grow300', Helvetica, Arial, sans-serif;
    z-index: -1;
    position: fixed;
    top: 0;
    height: 100vh;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.328);
    /* webkit for safari */
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    /*border: 1px solid rgb(85, 255, 99);*/
    box-sizing: border-box;
    transition: opacity 0.4s ease-in-out;
    transition-delay: 100ms;
    pointer-events: none;
    /* Deaktiviere pointer events für die unsichtbare Sidebar */
    will-change: transform
}

.sidebar.active {
    opacity: 1;
    pointer-events: auto;
    /* Aktiviere pointer events für die sichtbare Sidebar */
}

.sidebar:not(.active) {
    opacity: 0;
    /* Hier wird die Opacity auf 0 gesetzt, um den Text auszublenden */
}



.sidebar a {
    width: 100%;
    color: white;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    border: solid 0.7px rgb(228, 228, 228);
    border-radius: 40px;
    padding: 10px;
    font-size: 4em;
    margin-bottom: 60px;
}

/*a:hover {
    color: yellow;
}*/


.navbar li a[href="#about"]:hover,
.sidebar li a[href="#about"]:hover {
    color: greenyellow;
    font-family: 'Fungal-Grow0';
    text-shadow: none;
    border: none;
}

.sidebar li a[href="#renntag"]:hover,
.navbar li a[href="#renntag"]:hover {
    color: yellow;
    font-family: 'Fungal-Grow0', Arial, Helvetica, sans-serif;
    text-shadow: none;
    border: none;
}

.sidebar li a[href="#workshop"]:hover,
.navbar li a[href="#workshop"]:hover {
    color: rgb(132, 128, 255);
    font-family: 'Fungal-Grow0', Arial, Helvetica, sans-serif;
    text-shadow: none;
    border: none;
}

.sidebar li a[href="#jubelfeier"]:hover,
.navbar li a[href="#jubelfeier"]:hover {
    color: deeppink;
    font-family: 'Fungal-Grow0', Arial, Helvetica, sans-serif;
    text-shadow: none;
    border: none;
}

.sidebar li a[href="#sponsoren"]:hover,
.navbar li a[href="#sponsoren"]:hover {
    color: orange;
    font-family: 'Fungal-Grow0', Arial, Helvetica, sans-serif;
    text-shadow: none;
    border: none;
}


/* Gradient Background */
.absolute {
    position: absolute;
    z-index: -2;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    top: 50px;
    width: fit-content;
    height: fit-content;
}

.image-container {
    position: relative;
    overflow: hidden;
    /* Verhindert, dass überstehende Teile der Animation sichtbar sind */
    width: 100%;
    height: 100%;
}

.justify-center {
    justify-content: center;
}

.bg-shape1 {
    width: 300px;
    height: 200px;
    border-radius: 9999px;
    position: relative;
    animation: one 10s infinite;
}

.bg-shape2 {
    width: 350px;
    height: 200px;
    border-radius: 9999px;
    position: relative;
    animation: two 10s infinite;
}

.opacity-50 {
    opacity: .5;
}

.bg-blur {
    filter: blur(90px);
    -webkit-filter: blur(90px);

}

.bg-primary {
    background-color: white;
}

.bg-teal {
    background-color: rgb(255, 255, 255);
}

.bg-purple {
    background-color: white;
}

@keyframes one {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: -100px;
        top: 70px;
    }

    50% {
        left: 20px;
        top: 150px;
    }

    75% {
        left: 50px;
        top: 100px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes two {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 50px;
        top: 10px;
    }

    50% {
        left: 100px;
        top: 50px;
    }

    75% {
        left: 50px;
        top: 100px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}



/* Media Querys */
@media(max-width: 870px) {
    .hideOnMobile {
        display: none;
    }

    .menuButton {
        display: block;
    }
}


/* tablet styles */
@media(min-width: 960px) {}

/* desktop styles */
@media(min-width: 1200px) {
    .intro-img {
        overflow: visible;
        display: block;
        width: 1000px;
        height: auto;
        margin: 0px auto;
    }

    h1 {
        text-align: center;
    }

    .block-text {
        padding: 40px 200px;
    }

    .plaketten {
        padding: 40px 200px;
    }

    .tuevplakette {
        background-color: #fafafa;
        color: #000000;
        border-radius: 20px;
        display: inline-block;
        justify-content: center;
    }

    .sponsoren-img {
        overflow: visible;
        display: block;
        width: 600px;
        height: auto;
        margin: 50px auto;
    }

    .credits-kids {

        width: 400px;
        height: auto;
        margin: 0 auto;
    }

    .plaketten ul {
        margin: auto;
        text-align: center;
    }

    .plaketten p {
        margin: 2px 0;
    }

    .block-text {
        padding: 0 400px;
    }

    h2 {
        margin: 15px 650px;
        text-align: center;
    }

    #sponsoren p {
        padding: 0 400px;
    }

    h1 {
        margin: 30px 0;
    }

    section {
        margin: 180px 0;
    }

    .navbar {
        font-family: monospace;
    }

    .navbar a {
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }

    .navbar li a[href="#about"]:hover {
        color: greenyellow;
        font-family: monospace;
        font-size: 1.55em;
    }

    .navbar li a[href="#renntag"]:hover {
        color: yellow;
        font-family: monospace;
        font-size: 1.55em;
    }

    .navbar li a[href="#workshop"]:hover {
        color: rgb(132, 128, 255);
        font-family: monospace;
        font-size: 1.55em;
    }

    .navbar li a[href="#jubelfeier"]:hover {
        color: deeppink;
        font-family: monospace;
        font-size: 1.55em;
    }

    .navbar li a[href="#sponsoren"]:hover {
        color: orange;
        font-family: monospace;
        font-size: 1.55em;
    }

}