/* reset */
* {
    margin: 0;
    padding: 0;
}


/* base styles */
body {
    min-height: 100vh;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


/* font styles */
h1 {
    font-size: 2em;
}


h2 {
    font-size: 1.2em;
}


/* Navigation */
nav {
    width: 100%;
    /* Full width */
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
}


/* Navbar Styling */
/*previously nav ul {} */
.navbar {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.519);
    backdrop-filter: blur(3px);
    /* Set the height of the navbar */
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
    border: 1px solid green;

}


nav li {
    height: auto;
    border: 1px solid orange;
}


nav a {
    width: 100%;
    height: 100%;
    margin: 0 20px;
    text-decoration: none;
    align-items: center;
    color: white;
    border: 1px solid blueviolet;
    font-size: 1.5em;
}

nav a svg {
    vertical-align: middle;
    /* align svg element within <a> element */
}

.navbar li:first-child {
    background-color: blue;
    margin-right: auto;
}

.navbar li:last-child {
    background-color: red;
    margin-left: auto;
}

.navbar li:last-child a {
    margin-right: 0;
}



a:hover {
    color: yellow;
}


/* Menu-Button styling */
.menuButton {
    display: none;
    position: fixed;
}



/* Sidebar Styling */
.sidebar {
    position: fixed;
    top: 51px;
    height: 100vh;
    width: 100%;
    background-color: rgba(49, 50, 48, 0.611);
    backdrop-filter: blur(3px);
    display: none;
    flex-direction: column;


    /*row-gap: 30px;*/
}


.sidebar a {
    width: 100%;
    color: aqua;
    margin-top: 30px;
    border: 1px solid rgb(255, 0, 195);
}


/* Main content */
main {
    margin-top: 60px;
    /* Add a top margin to avoid content overlay */
}



/* Media Querys */
@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menuButton {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}